{% extends "base.html" %}
{% block head %}
    <!-- iCheck -->
    <link href="{{ url_for('static',filename='lib/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='lib/iCheck/icheck.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#images').addClass('current-page');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>镜像列表 <small>Image List</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入名称或ID查找镜像">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i style="position: relative;top:-1px;left: -5px;" class="fa fa-search"></i>搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    {% if is_all %}
                        <h3 style="float: left;margin-top: 0px;">全部主机 <small>All Hosts</small></h3>
                    {% else %}
                        <h3 style="float: left;margin-top: 0px;">{{ host_name }} <small>{{ host_id | cutStr(0,12) }}</small></h3>
                    {% endif %}
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <div class="btn-group btn-group-sm">
                                {% if pagination.has_prev %}
                                    <a href="/images/all" class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></a>
                                    <a href="/images/all?page={{ pagination.prev_num }}" class="btn btn-default" type="button"><i class="fa fa-angle-left"></i></a>
                                    <a href="/images/all?page={{ pagination.prev_num }}" class="btn btn-default" type="button">{{ pagination.prev_num }}</a>
                                {% endif %}
                                <a class="btn btn-info" type="button">{{ pagination.page }}</a>
                                {% if pagination.has_next %}
                                    <a href="/images/all?page={{ pagination.next_num }}" class="btn btn-default" type="button">{{ pagination.next_num }}</a>
                                    <a href="/images/all?page={{ pagination.next_num }}" class="btn btn-default" type="button"><i class="fa fa-angle-right"></i></a>
                                    <a href="/images/all?page={{ pagination.pages }}" class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></a>
                                {% endif %}
                                <div class="btn-group btn-group-sm">
                                    {% if is_all %}
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> 全部主机 <span class="caret"></span> </button>
                                    {% else %}
                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> {{ host_name }} <span class="caret"></span> </button>
                                    {% endif %}
                                    <ul class="dropdown-menu">
                                            <li><a href="/images/all">全部主机</a></li>
                                        {% for info in host_list %}
                                            <li><a href="/images/{{ info['host_id'] }}">{{ info['host_name'] }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover bulk_action">
                        <thead>
                            <tr>
                                <th width="40">
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                {% if is_all %}
                                    <th style="width: 30%">镜像名称</th>
                                    <th style="width: 15%">镜像版本</th>
                                    <th style="width: 20%">所属主机</th>
                                    <th style="width: 15%">创建时间</th>
                                    <th style="width: 10%">镜像大小</th>
                                    <th style="width: 10%">操作</th>
                                {% else %}
                                    <th style="width: 35%">镜像名称</th>
                                    <th style="width: 20%">所用镜像</th>
                                    <th style="width: 20%">创建时间</th>
                                    <th style="width: 15%">镜像大小</th>
                                    <th style="width: 10%">操作</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for info in image_list %}
                            {% set json = info['json_info'] %}
                            <tr>
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td>
                                    <a href="/image/info/{{ info['image_id'] }}">{{ info['image_name'][0] | getImageName }}</a>
                                    <br />
                                    <small>{{ info['image_id'] | cutStr(0,12) }}</small>
                                </td>
                                <td>{{ info['image_name'][0] | getImageVer }}</td>
                                {% if is_all %}
                                    <td>
                                        <a href="/host/info/{{ info['host_id'] }}">{{ info['host_name'] }}</a>
                                        <br />
                                        <small>{{ info['host_id'] | cutStr(0,12) }}</small>
                                    </td>
                                {% endif %}
                                <td>{{ info['create_time'] }}</td>
                                <td>{{ json['Size'] | imageSize }}</td>
                                <td>
                                    <div class="btn-group" style="margin-top: 3px;min-width: 100px;">
                                        <button type="button" class="btn btn-success"><i class="fa fa-search"></i> 查看</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="min-width: 94px !important;" role="menu">
                                            <li><a href="#"><i class="fa fa-pause" style="margin-left: -8px;margin-right: 6px;"></i>新建容器</a></li>
                                            <li><a href="#"><i class="fa fa-download" style="margin-left: -10px"></i>导出</a></li>
                                            <li><a href="#"><i class="fa fa-trash" style="margin-left: -10px"></i>删除</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <td><input type="checkbox" id="check-all" class="flat"></td>
                            <td colspan="{% if is_all %}7{% else %}8{% endif %}" style="padding-top: 12px;">
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-default" type="button">Top</button>
                                    <button class="btn btn-default" type="button">Middle</button>
                                    <button class="btn btn-default" type="button">Bottom</button>
                                </div>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <div class="btn-group btn-group-sm">
                                            {% if pagination.has_prev %}
                                                <a href="/images/all" class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></a>
                                                <a href="/images/all?page={{ pagination.prev_num }}" class="btn btn-default" type="button"><i class="fa fa-angle-left"></i></a>
                                                <a href="/images/all?page={{ pagination.prev_num }}" class="btn btn-default" type="button">{{ pagination.prev_num }}</a>
                                            {% endif %}
                                            <a class="btn btn-info" type="button">{{ pagination.page }}</a>
                                            {% if pagination.has_next %}
                                                <a href="/images/all?page={{ pagination.next_num }}" class="btn btn-default" type="button">{{ pagination.next_num }}</a>
                                                <a href="/images/all?page={{ pagination.next_num }}" class="btn btn-default" type="button"><i class="fa fa-angle-right"></i></a>
                                                <a href="/images/all?page={{ pagination.pages }}" class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></a>
                                            {% endif %}
                                            <div class="btn-group btn-group-sm">
                                                {% if is_all %}
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> 全部主机 <span class="caret"></span> </button>
                                                {% else %}
                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> {{ host_name }} <span class="caret"></span> </button>
                                                {% endif %}
                                                <ul class="dropdown-menu">
                                                    <li><a href="/images/all">全部主机</a></li>
                                                    {% for info in host_list %}
                                                        <li><a href="/images/{{ info['host_id'] }}">{{ info['host_name'] }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}