{% extends "base.html" %}
{% block head %}
    <!-- bootstrap-progressbar -->
    <link href="{{ url_for('static',filename='lib/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $('#index').addClass('current-page');
        });
        {% for info in containersList %}
            $.ajax( {
                    url:'{{ request.url_root }}api/v1.0/container/getstatus_now/{{ info['container_id'] }}',
                    type:'get',
                    cache:false,
                    dataType:'json',
                    success:function(data) {
                        data.reverse();
                        var mem_data = new Array();
                        var cpu_data = new Array();
                        var Container_id = '{{ container_id }}';
                        if(data.length === 0){
                            $(".cpu_{{ info['container_id'] }} small").text("None");
                            $(".mem_{{ info['container_id'] }} small").text("None");
                        }else{
                            cpu_percent = data[0].cpu_percent
                            memory_percent = data[0].memory_percent
                            $(".cpu_{{ info['container_id'] }} .progress-bar").css('width',cpu_percent+"%");
                            $(".mem_{{ info['container_id'] }} .progress-bar").css('width',memory_percent+"%");
                            $(".cpu_{{ info['container_id'] }} small").text("占用率 : "+cpu_percent+"%");
                            $(".mem_{{ info['container_id'] }} small").text("占用率 : "+memory_percent+"%");
                            if(cpu_percent >= 60 && cpu_percent < 80){
                                $(".cpu_{{ info['container_id'] }} .progress-bar").addClass('bg-orange');
                            }else if(cpu_percent >= 80 && cpu_percent <= 100){
                                $(".cpu_{{ info['container_id'] }} .progress-bar").addClass('bg-red');
                            }else if(cpu_percent < 60 && cpu_percent >= 0){
                                $(".cpu_{{ info['container_id'] }} .progress-bar").addClass('bg-green');
                            }

                            if(memory_percent > 60 && memory_percent < 80){
                                $(".mem_{{ info['container_id'] }} .progress-bar").addClass('bg-orange');
                            }else if(memory_percent >= 80){
                                $(".mem_{{ info['container_id'] }} .progress-bar").addClass('bg-red');
                            }else{
                                $(".mem_{{ info['container_id'] }} .progress-bar").addClass('bg-green');
                            }
                        }
                    },
                    error : function() {
                        alert('ok');
                    }
                });
        {% endfor %}
    </script>
    <script src="{{ url_for('static',filename='js/control.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url_for('static', filename='lib/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-server"></i></div>
                <div class="count">{{ allHost }}</div>
                <h3>主机数量</h3>
                <p>Number of Hosts</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-cube"></i></div>
                <div class="count">{{ allContainer }}</div>
                <h3>容器数量</h3>
                <p>Number of Containers</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-circle"></i></div>
                <div class="count">{{ runningContainer }}</div>
                <h3>正在运行</h3>
                <p>Running Containers</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-floppy-o"></i></div>
                <div class="count">{{ allImage }}</div>
                <h3>镜像数量</h3>
                <p>Number of Images</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="x_title_h2">关注列表 <small>Following List</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th width="70">容器状态</th>
                                <th style="width: 20%">容器名称</th>
                                <th style="width: 20%">所在主机</th>
                                <th style="width: 20%">处理器占用率</th>
                                <th style="width: 20%">内存占用率</th>
                                <th style="width: 10%;">操作</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% if (containersList | length) == 0 %}
                        <tr>
                            <td colspan="6" style="text-align: center">
                                无关注容器、主机、镜像
                            </td>
                        </tr>
                    {% else %}
                        {% for info in containersList %}
                            <tr>
                                <td>
                                    {% if info['status'] == 'running' %}
                                        <i class="fa fa-check-circle fa-fw fa-3x icon-success"></i>
                                    {% elif info['status'] == 'exited' %}
                                        <i class="fa fa-times-circle fa-fw fa-3x icon-error"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/container/info/{{ info['container_id'] }}">{{ info['container_name'] }}</a>
                                    <br />
                                    <small>{{ info['container_id'] | cutStr(0,12) }}</small>
                                </td>
                                <td>
                                    <a href="/host/info/{{ info['host_id'] }}">{{ info['host_name'] }}</a>
                                    <br />
                                    <small>{{ info['host_id'] | cutStr(0,12) }}</small>
                                </td>
                                <td class="project_progress cpu_{{ info['container_id'] }}">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal=""></div>
                                    </div>
                                    <small></small>
                                </td>
                                <td class="project_progress mem_{{ info['container_id'] }}">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal=""></div>
                                    </div>
                                    <small></small>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-danger btn-sm table-control-btn unfollowbtn" value="{{ info['container_id'] }}"> 取消关注 </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="x_title_h2">最近操作 <small>Recent operation</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled top_profiles scroll-view">
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">YYF</a>
                                <p><strong class="icon-success">启动 </strong> 容器 d515940d5cdf </p>
                                <p> <small>2016-10-28 13:57:43</small></p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">ZSMJ</a>
                                <p><strong class="icon-error">关闭 </strong> 容器 d49a1f15dd56 </p>
                                <p> <small>2016-10-28 13:57:43</small></p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">iceice</a>
                                <p><strong class="icon-success">启动 </strong> 容器 b60f5447512f </p>
                                <p> <small>2016-10-28 13:57:43</small></p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Bruning</a>
                                <p><strong class="icon-success">启动 </strong> 容器 1a3be9861ff9 </p>
                                <p> <small>2016-10-28 13:57:43</small></p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">2009</a>
                                <p><strong class="icon-success">启动 </strong> 容器 4ba7bd103829 </p>
                                <p> <small>2016-10-28 13:57:43</small></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}